@model ECommerce.Models.City

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>Cidade</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Departaments.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Departaments.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.CityId }, new {@class = "btn btn-warning" }) |
    @Html.ActionLink("Voltar à lista", "Index")
</p>
